.header{
    font-size: 22px;
}

.navBar a{
    text-decoration: none;
    color: black;
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.switch{
    margin-top: 20px;
}

#light .navbar{
    background-color: white;
    color: black;
}

#dark .navBar{
    background-color: black;
}

#dark .header{
    color: white;
}