.metaData{
    background-color: #bd90ff;
    padding: 10px 20px;
    border-radius: 10px;
}

.content, .stats{
    display: flex;
    justify-content: space-between;
}

.content{
    margin-bottom: 10px;
}
.metaData a{
    text-decoration: none;
}

.metaData p{
    color: whitesmoke;
    margin: 0;
    font-size: 12px;
}

.post img{
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

.post{
    max-width: 300px;
}

.icons{
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.desc{
    max-width: 250px;
}